/*
 * Global stylesheet
 * Overrides some resetted (see ./reset.css) default browser styles to reduce
 * CSS code throughout the rest of the codebase.
 *
 * Also defines all font faces.
 */

/* Font faces
   ---------- */

/* @font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham/Gotham-Thin.eot');
  src: url('./fonts/Gotham/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gotham/Gotham-Thin.woff2') format('woff2'),
    url('./fonts/Gotham/Gotham-Thin.woff') format('woff'),
    url('./fonts/Gotham/Gotham-Thin.ttf') format('truetype'),
    url('./fonts/Gotham/Gotham-Thin.svg#Gotham-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Extra';
  src: url('./fonts/Gotham/Gotham-ExtraLight.eot');
  src: url('./fonts/Gotham/Gotham-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/Gotham/Gotham-ExtraLight.woff2') format('woff2'),
    url('./fonts/Gotham/Gotham-ExtraLight.woff') format('woff'),
    url('./fonts/Gotham/Gotham-ExtraLight.ttf') format('truetype'),
    url('./fonts/Gotham/Gotham-ExtraLight.svg#Gotham-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
} */

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham/Gotham-Light.eot');
  src: url('./fonts/Gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gotham/Gotham-Light.woff2') format('woff2'),
    url('./fonts/Gotham/Gotham-Light.woff') format('woff'),
    url('./fonts/Gotham/Gotham-Light.ttf') format('truetype'),
    url('./fonts/Gotham/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham/Gotham-Book.eot');
  src: url('./fonts/Gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gotham/Gotham-Book.woff2') format('woff2'),
    url('./fonts/Gotham/Gotham-Book.woff') format('woff'),
    url('./fonts/Gotham/Gotham-Book.ttf') format('truetype'),
    url('./fonts/Gotham/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham/Gotham-Medium.eot');
  src: url('./fonts/Gotham/Gotham-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
    url('./fonts/Gotham/Gotham-Medium.woff') format('woff'),
    url('./fonts/Gotham/Gotham-Medium.ttf') format('truetype'),
    url('./fonts/Gotham/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham/Gotham-Bold.eot');
  src: url('./fonts/Gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gotham/Gotham-Bold.woff2') format('woff2'),
    url('./fonts/Gotham/Gotham-Bold.woff') format('woff'),
    url('./fonts/Gotham/Gotham-Bold.ttf') format('truetype'),
    url('./fonts/Gotham/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham/Gotham-Black.eot');
  src: url('./fonts/Gotham/Gotham-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gotham/Gotham-Black.woff2') format('woff2'),
    url('./fonts/Gotham/Gotham-Black.woff') format('woff'),
    url('./fonts/Gotham/Gotham-Black.ttf') format('truetype'),
    url('./fonts/Gotham/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham/Gotham-Ultra.eot');
  src: url('./fonts/Gotham/Gotham-Ultra.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gotham/Gotham-Ultra.woff2') format('woff2'),
    url('./fonts/Gotham/Gotham-Ultra.woff') format('woff'),
    url('./fonts/Gotham/Gotham-Ultra.ttf') format('truetype'),
    url('./fonts/Gotham/Gotham-Ultra.svg#Gotham-Ultra') format('svg');
  font-weight: 900;
  font-style: normal;
}